body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0f172a; /* fundo escuro */
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background: #1e293b;
  padding: 40px;
  border-radius: 16px;
  text-align: center;
  box-shadow: 0 10px 30px rgba(0,0,0,0.5);
  color: white;
}

h1 {
  margin-bottom: 20px;
}

.data {
  font-size: 20px;
  opacity: 0.8;
}

.hora {
  font-size: 40px;
  font-weight: bold;
  margin-top: 10px;
  color: #38bdf8;
}